<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Your Rick n Morty Character </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' type = 'text/css' %}">
  </head>
  <body class="bg-green-100 leading-normal tracking-normal font-sans">
    <header>
      <div class="container mx-auto px-12 py-4">
        <h1 class="flex items-center justify-center text-3xl text-red font-bold">
          Wanna find your Rick and Morty character?
        </h1>
      </div>
    </header>

    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
