<!-- templates/home.html -->

{% extends "base.html" %}

{% block content %}
  <p>Request Status: {{ YourCharacter.status }}</p>
  {% if objects %}
    <h1>Following is the API call: {{ objects.status }}</h1>
  {% else %}
    <p>No object_list exist </p>
  {% endif %}

  {% if YourCharacter %}
    <p>HEy: {{ YourCharacter.body }}</p>
  {% else %}
    <p>No YourCharacter object</p>
  {% endif %}

  {% if yourcharacter %}
    <p>HEy: {{ yourcharacter.body }}</p>
  {% else %}
    <p>No yourcharacter</p>
  {% endif %}

{% endblock %}
